*{
    
    box-sizing: border-box;
}
.from{
    margin: auto;
}
@media screen and(width:600px) {
    body{
        color: blueviolet;
    }
    
}
h1{
    text-align: center;
    
}
.from{
    padding: 20px;
    margin: 20px;
    background-color: antiquewhite;
    border: 5px solid seashell;
    
    
}
p{
    text-size-adjust: 100px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select
textarea{
    width: 100%;
}
input[type="submit"]{
    background-color: green;
    padding: 10px;
    border:none;
    cursor: pointer;
    width: 100px;
}
.Back-button{
    background-color:antiquewhite;
    padding: 5px;
    text-decoration: none;
    margin: 600px;
    text-align: center;
    
}
.Back-button:hover{
    color: black;
}